<app-header title="date time"></app-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-padding ion-margin">
    
    <ion-list-header>
      <ion-label>Datos de Nacimiento</ion-label>
    </ion-list-header>

    <ion-list-header>
      <ion-label>Fecha de nacimiento</ion-label>
    </ion-list-header>
    
  <ion-item>
    
    
    <ion-datetime [value]="birthDate.toISOString()"
                  display-format="DD.MM.YYYY"
                  (ionChange)="changeDate($event)"
                  ></ion-datetime>
    
  </ion-item>
    
    <ion-list-header>
      <ion-label> Min y Max</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-datetime display-format="DD.MM.YYYY"
                    min="1999-01-01"
                    max="2030-12-31"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Meses y Años</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-datetime class="ion-no-border"
                    presentation="month-year"
                    [preferWheel]="true"
                    min="1999-01"
                    max="2030-12"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Custom Options</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-datetime [pickerOptions]="customPickerOptions" [yearValues]="customYearValues"></ion-datetime>
    </ion-item>

  </ion-list>


</ion-content>
