<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">componentes</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      detail="true"
      *ngFor="let component of components | async"
      [routerLink]="component.redirectTo"
    >
      <ion-icon slot="start" [name]="component.icon" color="primary"></ion-icon>
      {{component.name}}
    </ion-item>
  </ion-list>
</ion-content>
