<app-header title="fab"></app-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-twitter" color="twitter"> </ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon name="logo-youtube" color="youtube"> </ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon name="logo-gitlab" color="gitlab"> </ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-facebook" color="facebook"> </ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon name="logo-github" color="github"> </ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon name="logo-medium" color="medium-app"> </ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + i" alt="avatar" />
      </ion-avatar>
      <ion-label># {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
